<a href="https://colab.research.google.com/github/S3IFK/pandas/blob/main/Python%20Praticse%2015Feb%202023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
kg2ws = lambda kg: kg*1000
print(kg2ws(5))

5000

In [3]:
evenodd = lambda num: True if num%2 ==0 else False

In [5]:
evenodd(2)

True

In [6]:
evenodd = lambda num: num%2 ==0

In [9]:
print(evenodd(5))
print(evenodd(4))

False
True

In [10]:
s = lambda x,y: x+y

In [11]:
s(4,5)

9

In [12]:
numlist=[1,2,3,4,5,6,7,8,9]

#map
print(map(lambda x: x**2, numlist))

<map object at 0x7f6fca8fe670>

In [16]:
print(list(map(lambda x: x**3, numlist)))
print(set(map(lambda x: x**2, numlist)))
print(tuple(map(lambda x: x**3, numlist)))

[1, 8, 27, 64, 125, 216, 343, 512, 729]
{64, 1, 4, 36, 9, 16, 49, 81, 25}
(1, 8, 27, 64, 125, 216, 343, 512, 729)

In [17]:
usr_in = input('Enter some intergers with space separated: ')
print(usr_in)
usr_split = usr_in.split()
print(usr_split)
print(list(map(int, usr_split)))

Enter some intergers with space separated: 1 2 3 4 5
1 2 3 4 5
['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]

In [18]:
print(list(map(int, input('Enter some number: ').split())))

Enter some number: 1 2 3
[1, 2, 3]

In [20]:
print(list(filter(lambda num: num%2 ==0, numlist)))

[2, 4, 6, 8]